Package: com.sst1337.ArtworkAnimations10
Name: ArtworkAnimations10
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Animation Your Lockscreen Album Art!
Maintainer: sst1337
Author: sst1337
Section: Tweaks
Version: 1.0.0-14+debug
Installed-Size: 276
